
/*declaring variables for ease of use*/
:root{
  --title-color: #c9b71c;
  --background-color: 50,26,16,.8;
  }


table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(var(--background-color));
 }
.tbl-content{
  height:auto;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(var(--background-color));
}
/*Warrior*/
#class-1{
  background: rgba(199, 156, 110, .15);
}
/*Paladin*/
#class-2{
  background: rgba(245, 140, 186, .15);
}
/*Hunter*/
#class-3{
  background: rgba(171, 212, 115, .15);
}
/*Rogue*/
#class-4{
  background: rgba(255, 245, 105, .15);
}
/*Priest*/
#class-5{
  background: rgba(255, 255, 255, .15);
}
/*Death Knight*/
#class-6{
  background: rgba(196, 31, 59, .15);
}
/*Shaman*/
#class-7{
  background: rgba(0, 112, 222, .15);
}
/*Mage*/
#class-8{
  background: rgba(105, 204, 240, .15);
}
/*Warlock*/
#class-9{
  background: rgba(148, 130, 201, .15);
}
/*Monk*/
#class-10{
  background: rgba(0, 255, 150, .15);
}
/*Druid*/
#class-11{
  background: rgba(255, 125, 10, .15);
}
/*Demon Hunter*/
#class-12{
  background: rgba(163, 48, 201, .15);
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 24px;
  color: var(--title-color);
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 24px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}

section{
  background: rgba(3,3,3,0.5);
  margin: 50px;
  width:50%;
  position: absolute;
  left: 0;
}


html { 
  background: url(https://bnetcmsus-a.akamaihd.net/cms/template_resource/p8/P8LCY89PNXOK1466794718015.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

img{
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
}

#addAndRemove{
  position: absolute;
  left: 50%;
  margin: 50px;
  margin-left: 100px;

}

/* Add Character Form */
#addCharacterContainer{
  position: relative;
  margin: auto;
  margin-bottom: 10px;
  width: 260px;
  height: 260px;
  border-radius: 5px;
  background: rgba(var(--background-color));
  box-shadow: 1px 1px 50px #000;
}

/* remove Character Form */
#removeCharacterContainer{
  position: relative;
  margin: auto;
  margin-top: 10px;
  width: 260px;
  height: 260px;
  border-radius: 5px;
  background: rgba(var(--background-color));
  box-shadow: 1px 1px 50px #000;
}

#alliancePic{
  background-image: url(http://us.battle.net/wow/static/images/character/summary/sidebar-bg-alliance.png);
  position: absolute;
  margin: 50px;
  right: 0;
  width: 260px;
  height: 260px;
}

/* Heading */
h1{
  /*font-family: 'Open Sans Condensed', sans-serif;*/
  position: relative;
  margin-top: 0px;
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  color: var(--title-color);
  /*text-shadow: 3px 3px 10px #000;*/
}

/* Inputs */
.buttons,
input{
  font-family: 'Open Sans Condensed', sans-serif;
  text-decoration: none;
  position: relative;
  width: 80%;
  display: block;
  margin: 9px auto;
  font-size: 17px;
  color: #fff;
  padding: 8px;
  border-radius: 6px;
  border: none;
  background: rgba(3,3,3,.2);
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

input:focus{
  outline: none;
  box-shadow: 3px 3px 10px #333;
  background: rgba(3,3,3,.18);
}

/* Placeholders */
::-webkit-input-placeholder {
   color: #ddd;  }
:-moz-placeholder { /* Firefox 18- */
   color: red;  }
::-moz-placeholder {  /* Firefox 19+ */
   color: red;  }
:-ms-input-placeholder {  
   color: #333;  }

/* Link */
a{
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  padding: 4px 8px;
  /*background: url(http://us.battle.net/wow/static/images/buttons/button-1.png);*/
  background: rgba(150,150,150,.8);
}

a:hover{
  opacity: 0.7;
}
